<%= form_for @movie, :html => {:multipart => true} do |f| %>
  <div>
    <%= f.text_field "title", :placeholder => "Title" %>
  </div>
  <div>
    <%= f.date_field "release_date", :placeholder => "Release Date" %>
  </div>
  <div>
    <%= f.text_field "director", :placeholder => "Director" %>
  </div>
  <div>
    <%= f.number_field "runtime_in_minutes", :placeholder => "Runtime (in minutes)" %>
  </div>
  <div>
    <%= f.text_area "description", :placeholder => "Description" %>
  </div>
  <div class="carrier-wave-field">
    <%= f.file_field :poster %>
  </div><br>
  <div>
    <%= submit_tag("Submit", :class => "button") %>
  </div>


  <%= form_for @movie do |f| %>
  <% if @movie.errors.any? %>
    <div>
      <%= pluralize(@movie.errors.count, "error") %> prevented this movie from being submitted:
      <ul>
        <% @movie.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
<% end %>