<%= form_tag("/search", method: "get") do %>
<div>
  <%= label_tag(:search, "Search:") %>
  <%= text_field_tag(:search) %>
</div>
<div>
  <%= label_tag(:duration, "Duration:") %>
  <%= select_tag(:duration, 
    options_for_select([
    ['Under 90 minutes', 1],
    ['Between 90 and 120 minutes', 2],
    ['Over 120 minutes', 3]
    ]), 
    prompt: "Please select a duration:"
    ) %>
</div>
  <div style="text-align: center;"><%= submit_tag("Search", :class => "button") %></div>
<% end %>
