
<%= link_to "Back to all movies", movies_path, :class => "button" %><br/>
<p> <%= image_tag @movie.poster.preview.url %></p>
<%= link_to image_tag(@movie.poster_image_url), movie_path(@movie) %>
<h2 class="show-title"><%= @movie.title %></h2> 
<div class="fuckyou"><%= link_to "edit", edit_movie_path(@movie) %> 
| <%= link_to "delete", movie_path(@movie), method: :delete, confirm: "You sure?" %></div>
<span style="position: relative; top: -70px; float: right; right: 60%; font-size: 1.5em;"class="round alert label"> <%= @movie.review_average %>/10</span>
<h3 class="datetime"><%= formatted_date(@movie.release_date) %></h3>
<h4 class="director">Dir. <%= @movie.director %> | <%= @movie.runtime_in_minutes %> minutes</h4>
<p><%= @movie.description %></p>

<hr>

<h3>Reviews of <em><%= @movie.title %></em></h3>
<% if current_user %>
  <% @movie.reviews.each do |review| %>
    <p><%= review.text %></p>
    <p><%= review.rating_out_of_ten %>/10</p>
    <small>- <%= review.user.full_name %></small><br/>
  <% end %>
  <p><%= link_to "Write a review!", new_movie_review_path(@movie), :class => "button" %></p>
<% else %>
  <p>Please <%= link_to "log in", new_session_path %> to see reviews and add your own.</p> 
<% end %>