<h1 class="page-titles" style="text-align: center;">Admin Create User</h1>
  <div class="row">
    <div class="large-4 large-centered columns">
      <%= form_for [:admin, @user] do |f| %>
      <div>
        <%= f.text_field "email", :placeholder => "Email" %>
      </div>
      <div> 
        <%= f.text_field "firstname", :placeholder => "First Name" %>
      </div>
      <div>
        <%= f.text_field "lastname", :placeholder => "Last Name" %>
      </div>
      <div>
        <%= f.password_field "password", :placeholder => "Password" %>
      </div>
      <div>
        <%= f.password_field "password_confirmation", :placeholder => "Password Confirmation" %>
      </div>
      <div>
        <%= f.label "admin", "Admin?" %><br>
        <%= f.check_box "admin" %>
      </div>
      <div><%= f.submit "Submit", :class => "button" %></div>
      <% end %>
    </div>
  </div>